.profileUpdatePage {
  height: 100%;
  display: flex;

  .formContainer {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-radius: 10px; /* Rounded corners for the form */
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      padding: 50px;

      .item {
        display: flex;
        flex-direction: column;
        gap: 5px;

        input {
          padding: 20px;
          border-radius: 5px;
          border: 1px solid gray;
        }
      }
      button {
        padding: 12px;
        border-radius: 5px;
        border: 2px solid #fece51;
        background-color: #fece51;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #f5b400;
          color: white;
        }
      }
      span {
        color: rgba(255, 0, 0, 0.591);
      }
    }
  }

  .sideContainer {
    flex: 2;
    background-color: #fcf5f3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    .avatar {
      width: 50%;
      object-fit: cover;
    }
  }
}